<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!-- Update Uid / Pwd / Database to match your MySQL setup -->
    <add name="EaZZyTravelsDB"
         connectionString="Server=localhost;Database=eazzytravelsdb;Uid=root;Pwd=root;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Replace with your own SMTP account. For Gmail, use an App Password,
         not your normal account password. -->
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUser" value="Stuartngwenya08@gmail.com" />
    <add key="SmtpPass" value="tuvt xxph oine mrvo" />
    <add key="SmtpFromName" value="EaZZy-Travels" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="30" />
    </authentication>
    <sessionState mode="InProc" timeout="30" />
    <customErrors mode="Off" />
  </system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<defaultDocument>
			<files>
				<clear />
				<add value="Account/Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer> 

</configuration>
